@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marck+Script|Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200&display=swap');

@import "./responsive.scss";
html{
  scroll-behavior: smooth;
}

body {
  background-image: url('../../assets/pattern.png');
  background-color: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
}

.nav {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar{
  padding:30px;
}

a.navbar-brand {
  text-transform: uppercase;
  font-weight: bolder;
}

.navbar-brand small {
  display:block;
  font-size:12px;
  text-align: center;
  text-transform: none;
}


.nav-item {
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 10px;
  margin-right:10px;
  color: #33055f;
 
}

.page-container{
  padding: 0px;
  margin: 0 auto;
  // max-width: 960px;
  background-color: white;
}

.bio-photo{
  max-width: 250px;
  border-radius: 15px;
  margin: 30px;
  margin-bottom: 10px;
}

#bio-div{
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f31d;
  color: #6d6b00;
  font-weight : 100;
  justify-content: center;
}

.bio-section-title{
  text-align: center;
  text-transform: uppercase;
  background-color: #a3a000;
  padding: 10px;
  color:white;
  margin: 0px;
}

#startbio:after {
    content: "";
    position: relative;
    top:18px;
    left:50%;
    display: block;
    margin-top:0;
    margin-bottom:-10px;
    width: 0;
    height: 0;
    border-top: 20px solid #a3a000;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.bio-text{
  margin-top: 30px;
  margin-left:45px;
  text-align: justify;
  max-width: 450px;
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bio-stats {
  display: flex;
  padding: 3px;
  text-align: center;
  max-width: 150px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
  justify-content: space-around;
  font-size: 24px;
}

.fa-envelope{
  color: white;
}
.fa-linkedin{
  color: #2448aa;
}

.fa-github-square{
  color: #000;
}

#technologiesDiv{
 background-color: #970984;
//  height: 350px;
}
a img:last-child {
  display: none;  
}
a:hover img:last-child {
  display: block;  
  transform: scale(1.1);
}
a:hover img:first-child {
  display: none;  
}
.tech-section-title{
  text-align: center;
  text-transform: uppercase;
  background-color: #5f0553;
  padding: 10px;
  color:white;
  margin: 0px;
}
.spacer:before{
  content: "";
  position: relative;
  top:0px;
  left:50%;
  display: block;
  margin-top:0;
  margin-bottom:-10px;
  width: 0;
  height: 0;
  border-top: 20px solid #5f0553;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.spacer{
  height:50px;
}

.project-section-title{
  text-align: center;
  text-transform: uppercase;
  background-color: #af5307;
  padding: 10px;
  color:white;
  margin: 0px;
}
#projects{
  background-color: #f0720c;
}

.project-arrow:before {
  content: "";
  position: relative;
  top:0px;
  left:50%;
  display: block;
  margin-top:0;
  margin-bottom:-10px;
  width: 0;
  height: 0;
  border-top: 20px solid #af5307;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.project-link{
  background-color: #af5307;
  border: none;
  color: white;
}

.project-link:hover{
  background-color: #c9600a;
  border: none;
}

#contactDiv{
  background-color: #0c856a;
  padding-bottom: 5px;
}
.contact-section-title{
  text-align: center;
  text-transform: uppercase;
  background-color: #064b3c;
  padding: 10px;
  color:white;
  margin: 0px;
}

.contact-arrow:before {
  content: "";
  position: relative;
  top:0px;
  left:50%;
  display: block;
  margin-top:0;
  margin-bottom:-10px;
  width: 0;
  height: 0;
  border-top: 20px solid #064b3c;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.fa-js-square, .fa-react, .fa-sass, .fa-bootstrap, .fa-html5, .fa-github{
  font-size: 125px;
  margin: 20px;
}

.fa-js-square {
  color: #ffd900;
}

.fa-react{
  color:#4ccbfd;
}

.fa-html5{
  color: orangered;
}

.fa-sass{
  color: #fc49b1;
}

.fa-bootstrap{
  color: #3a175e;
}

.img-thumbnail{
  border: none;
  background-color: transparent;
}

hr{ 
  margin: 0px !important;
}

form{
  max-width: 350px;
  margin: 0 auto;
}

.connect-icons{
  font-size: 75px;
  text-align: center;
}

.connect{
  margin:10px;
}

#submit-contact{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #064b3c;
  border: none;
}

#submit-contact:hover{
  background-color: #08614e;
  border: none;
  transform: scale(1.1);
}

.btn:hover {
  transform: scale(1.1);
}